@model TesteScription.Dominio.Modelo.UsuarioModelo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | Agenda de Contatos</title>

    <!--Scripts do JQuery-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!--Scripts do Bootstrap e Bootbox-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <!--Importamos as bibliotecas de CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.united.min.css" rel="stylesheet" />

    <!--Importamos o Script de Validacao-->
    <script src="~/Scripts/validacoes.js"></script>

</head>
<body>
    <header>
        <section>
            @if (TempData["Mensagem"] != null)
            {
                @Html.Partial("_PartialMensagem");
            }
        </section>
    </header>
    <section>
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="row">
                    <div class="span12" style="text-align:center; margin: 0 auto;">
                        <form class="form-horizontal" style="width: 400px; margin: 0 auto;" method="post" action="/form/">
                            <br />
                            <fieldset>                                
                                <legend>Login</legend>
                                <div class="control-group">
                                    <label class="control-label" for="id_username">Usuario</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(x => x.Login, new { @class = "input-large", name = "username", maxlength = "100", title = "Informe o usuario", type = "text", id = "usuario"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="id_password">Senha</label>
                                    <div class="controls">
                                        @Html.PasswordFor(x => x.Senha, new { @class = "input-large", name = "password", maxlength = "100", title = "Informe a senha", type = "password", id = "password" })
                                    </div>
                                </div>
                                <div>
                                    <input type="submit" value="Entrar" id="entrar" title="Clique para entrar no sistema" class="btn btn-success btn-xs" />
                                    <input type="reset" value="Limpar" id="limpar" title="Clique para limpar" class="btn btn-default btn-xs " />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }
    </section>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p>&copy; <strong>Scription|</strong> Todos os direitos reservados.</p>
            </div>
        </nav>
    </footer>
</body>
</html>