@*TORNAMOS AS MENSAGENS DINÂMICAS*@
<div>
    <script type="text/javascript">
        $(document).ready(function(){
            bootbox.alert("@TempData["Mensagem"]");           
        });        
    </script>
</div>
